/*******tic-tac-toe******/

#tic-tac-toe .disable {
    text-transform: uppercase;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#tic-tac-toe #game li {
    float: left;
    padding: 0;
    list-style: none;
    text-align: center;
    /* margin-bottom: 20px; */
    color: #fff;
    height: 60px; /* Adjusted height for each cell */
    line-height: 60px; /* Center the content vertically */
    font-size: 40px;
    color: #ccc;
    width: 60px; /* Adjusted width for each cell */
    border: 1px solid #ccc; /* Add border for visualization */
    box-sizing: border-box;
}

#tic-tac-toe #game li.disable {
    color: #fff;
}

#tic-tac-toe #game {
    float: left;
    padding: 0;
    clear: both;
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.new_span {
    width: auto;
}

/* #tic-tac-toe #reset {
    padding: 5px 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    clear: both;
    cursor: pointer;
    float: left;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    width: auto;
} */

.input-prepend span.pre_text {
    width: 55px;
}

.input-prepend .span1 {
    width: 93px;
}

.input-prepend {
    margin-bottom: 10px;
}

.clr {
    clear: both;
    height: 0;
}

#tic-tac-toe h1 {
    text-align: center;
    font-size: 28px;
}

#tic-tac-toe li::-moz-selection {
    background: none;
    color: #000;
}

#tic-tac-toe li::-webkit-selection {
    background: none;
    color: #000;
}

#tic-tac-toe .info-container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#tic-tac-toe .center-container {
    width: fit-content;
    margin: 0 auto;
}

/* #tic-tac-toe {
    width: auto;  
    margin: 0 auto;  
    text-align: center;  
}

#tic-tac-toe .span3 {
    margin: 0 auto; 
    float: none; 
    text-align: left; 
} */

/*******tic-tac-toe END******/
